@model Dictionary<string,object>

<h3 class="bg-primary text-white p-1 m-1">User Details</h3>

<table class="table table-bordered m-2">
    @foreach (var kvp in Model)
    {
        <tr>
            <th>@kvp.Key</th><td>@kvp.Value</td>
        </tr>
    }
</table>

@if (User.Identity.IsAuthenticated)
{
    <a class="btn btn-danger m-1" asp-action="Logout" asp-controller="Account">
        Logout
    </a>
}
else
{
    <a class="btn btn-primary m-1" asp-action="Login" asp-controller="Account" asp-route-returnUrl="/">
        Log In
    </a>

}
